<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 font-weight-bold text-gray-dark">QUẢN LÝ NHÀ CUNG CẤP</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Quản lý nhà cung cấp</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <app-data-table #dataTableSize [dataTable]="search" (changeEvent)="onChangeDataEvent($event)">
              <div class="block-buttons-right float-sm-right text-center">
                <button class="btn btn-success" (click)="addSupplierComponent.show()">
                  <i class="fas fa-plus mr-1"></i>
                  Thêm
                </button>
              </div>
              <thead>
              <tr>
                <th>Tên nhà cung cấp</th>
                <th>Địa chỉ</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let e of search.result">
                <td>{{e.name}}</td>
                <td>{{e.address}}</td>
                <td>
                  <app-dropdown-menu>
                    <a class="dropdown-item text-cyan" (click)="updateSupplierComponent.show(e, $event)">
                      <i class="far fa-edit"></i>
                      Sửa
                    </a>
                    <a class="dropdown-item text-red" href="#" (click)="openDeleteModal(e, $event)">
                      <i class="far fa-trash-alt mr-1"></i>
                      Xóa
                    </a>
                  </app-dropdown-menu>
                </td>
              </tr>
              </tbody>
            </app-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-add-supplier #addSupplierComponent (saveCompleted)="onChangeDataEvent()"></app-add-supplier>
<app-update-supplier #updateSupplierComponent (saveCompleted)="onChangeDataEvent()"></app-update-supplier>
