<div class="login-box mx-auto">
  <div class="login-logo">
    <a href="#">
      <h1 class="text-dark text-bold" style="font-family: Cambria">PUN'S HOUSE</h1>
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Đăng nhập để bắt đầu phiên làm việc</p>
      <div>
        <div class="input-group mb-3">
          <input
            (keypress)="enterEvent($event)"
            [(ngModel)]="loginModel.username"
            name="email"
            type="email"
            class="form-control"
            placeholder="Tài khoản"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            (keypress)="enterEvent($event)"
            [(ngModel)]="loginModel.password"
            name="password"
            type="password"
            class="form-control"
            placeholder="Mật khẩu"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button (click)="login()" class="btn bg-pink float-right">
              Đăng nhập
            </button>
          </div>
          <!-- /.col -->
        </div>
      </div>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
